.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-row {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .spacer {
      width: 1em;
    }
  }

  .mat-table {
    width: 100%;
  }

  .mat-column-actions {
    text-align: right;
  }
}
